<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ditariConnStr" connectionString="Server=ERIKA-PC; Database=SchoolDiaryManagement; User ID=ditarierika; Password=ditari2020"/>
    <!--<add name="ditariConnStr" connectionString="Server=ARB-PC\SQLEXPRESS; Database=MenaxhimiDitarit; User ID=ditari; Password=ditari123"/>-->
    <!--<add name="ditariConnStr" connectionString="Server=ARB-PC\SQLEXPRESS; Database=SchoolDiaryManagement; User ID=ditari; Password=ditari123"/>-->
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>